name: Test PyPI packages

# Controls when the action will run.
on:
  # schedule test for nightly build
  schedule:
    - cron: "0 0 * * 0"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'Warning'
      tags:
        description: 'Test packages'

jobs:
  # test packages
  test:
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest] # temporarily disabled: macOS-latest
            test: [core]
            python: [3.9]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt update
            sudo apt install libopenmpi-dev openmpi-bin libsuperlu-dev libsuitesparse-dev petsc-dev paraview python3-paraview gmsh libboost-all-dev libmpfr-dev
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew update
            rm /usr/local/bin/2to3
            brew install python@3.9
            brew install openmpi superlu suite-sparse petsc paraview gmsh boost mpfr
          fi
        shell: bash

      - name: Setup venv
        run: |
          python3 -m venv dune-env
          source dune-env/bin/activate
          pip install --upgrade pip
          pip install matplotlib scipy gmsh nbconvert
        shell: bash

      - name: Install dune modules
        run: |
          source dune-env/bin/activate
          pip install dune-mmesh
        shell: bash

      - name: Run test
        # TODO: Replace by `python -m dune.mmesh test`
        run: |
          source dune-env/bin/activate
          export DUNEPY_DISABLE_PLOTTING=1
          cd scripts
          python ../doc/examples/grids/horizontal.py
          python test.py
        shell: bash
